body {
    background: #f0f0f0;
}

.comments {
    width: 400px;
}

.comment {
    width: 100%;
    margin-bottom: 20px;
}

.comment p {
    margin: 0 0 10px 0;
}

.dialog {
    position: relative;
    background: #fff;
    padding: 20px;
    color: #222;
    border-radius: 3px;
    margin-left: 20px;
}

.dialog::after {
   content: '';
   display: block;
   position: absolute;
   width: 0;
   height: 0;
   border-top: 8px solid transparent;
   border-bottom: 8px solid transparent;
   border-right: 15px solid #fff;
   left: -15px;
   top: 15px;
}
