body {
    background: darkseagreen;
    color: darkslategray;
}
.writers-works {
    border: 1px solid darkseagreen;
    border-radius: 15px;
    text-align: left;
    color: darkslategray;
    background-color: aliceblue;
    padding: 20px;
    margin-top: 50px;
    transition: all 0.2s linear;
    text-align: left;
}

    .writers-works:hover {
        background-color: darkslategrey;
        color: ghostwhite;
    }

.writer-work-text {
    border: 1px solid lavender;
    border-radius: 10px;
    text-align: left;
    color: darkslategrey;
    background-color: ghostwhite;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.2s linear;
    text-align: left;
}
.writer-work-text > textarea {
    width: 300px;
    max-width: 1000px;
    height: 200px;
    border: inset;
    background-color: aliceblue;
}


.comments {
    width: 100%;
}

.comment {
    width: 80%;
    margin-bottom: 20px;
}

.comment p {
    margin: 0 0 10px 0;        
}

.dialog {
    position: relative;
    background: #fff;
    padding: 20px;
    color: #222;
    border-radius: 3px;
    margin-left: 20px;
}

    .dialog > label {
        color: darkslategrey;
        font-weight: bolder;
    }

.dialog::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
    top: 15px;
}

label {
    color: floralwhite;
    padding: 15px;
}

textarea {
    width: 500px;
    max-width: 1000px;
    height: 200px;
    border: inset;
    background-color: aliceblue;
    border-radius: 5px;
}

.add-comment{
    margin-top: 50px;
    margin-bottom: 50px;
}
