@model WritingPlatform.Web.Models.CommentUserViewModel

@using(Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <h2>Добавить комментарий</h2>
        @Html.TextAreaFor(model => model.CommentsText)
        @Html.ValidationMessageFor(model => model.CommentsText, "", new { @class = "text-danger" })
        <input id="addComment" type="button" onclick="" value="Добавить" />
    </div>
}
